.article h1{
  text-align: center;
  padding-bottom: 1.5rem;
  font-size: 45px;
}

.article h2{
  text-align: center;
  font-size: 25px;
}

p {
    text-indent: 50px; /* Отступ первой строки в пикселах */
    font-size: 20px;
}

p i{
    text-indent: 50px;
    font-size: 22px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: 1s;
  border-radius: 5px;
}

.center:hover {
    transform: scale(2);
    border-radius: 10px;
}

.sootStox{
  background: url(/img/formulas/form stoxa.png);
  color: red;
}
